p
    {
    margin:0pt;
    text-align: justify;
    text-indent: 1.5em;
    margin-left: 1em;
    margin-right: 1.2em;
    }
    p+p
    {
    text-indent:1.5em;
    text-align: justify;
    }
    h1
    {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 150%;
    color: black;
    padding-top: 12px;
    padding-bottom: 3px;
    text-align: center;
    }
    h2
    {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 22pt;
    text-align: center;
    color: black;
    }
    h3
    {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    }
    img { img-align: center }
blockquote.style1 {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
  }
  blockquote.style1 span {
     display: block;
     background-image: url(images/closequote1.gif);
     background-repeat: no-repeat;
     background-position: bottom right;
   }