@charset "UTF-8";
/*
File: s0_style.css, s1_template.css, s2_extra.css
Descrizione: Regole CSS per gli ebook Einaudi
Copyright © 2011–2019 Mondadori Libri S.p.A., Milano. Tutti i diritti riservati. All rights reserved.
Versione 2.6 - 2019
*/

/*** BASIC RULES ***/
body {
	margin: 3%;
	font-family: "HoeflerText-Regular", "Hoefler Text", serif;
	font-size: 100%;
	line-height: 1.2em;
	word-wrap: break-word;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
tr,
th,
td,
img,
img,
audio,
video,
nav {
	padding: 0;
	margin: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
}
a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #AF2626;
}
/*Hyphenation*/
h1,
h2,
h3,
h4,
li,
body#copyright div.info p {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
p {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
img {
	max-width: 100%;
}
/*** ***/
/*** COVER ***/
body#cover {
	margin: 0;
	padding: 0;
}
body#cover div {
	text-align: center;
}
body#cover div img {
	width: auto;
	max-width: inherit;
	height: 100%;
}

body#cover div img:first-of-type {
	width: auto;
	max-width: inherit;
	height: 100vmax;
	object-fit: contain;
}

/*** NAV ***/
body#nav div.main {
	text-align: left;
	font-size: 0.875em;
	line-height: 1.2em;
}
body#nav div.main li {
	list-style: none;
	text-align: left;
	text-indent: -1.2em;
}
body#nav div.main > p {
	text-indent: 0;
	margin-left: 0;
	font-size: 1em;
	text-align: justify;
}
body#nav div.main > p + p {
	text-indent: 1.2em;
	margin-left: 0;
}

/*** ***/


/*** «Il libro» PAGE ***/
body#il-libro div.header h1 {
	margin-left: 0;
	font-style: italic;
	font-size: 2em;
	line-height: 1.2em;
	text-align: center;
}
body#il-libro div.main {
	margin-left: 8%;
	margin-right: 8%;
}
body#il-libro div.main h2 {
	text-align: left;
	font-size: 0.875em;
	font-style: normal;
	margin-bottom: 0;
	page-break-after: avoid;
	text-indent: 1.2em;
}
body#il-libro div.main > p + h2 {
	margin-top: 3.6em;
}
body#il-libro div.main > p {
	text-align: justify;
	text-indent: 1.2em;
	font-size: 0.875em;
}
body#il-libro div.main p.new-part {
	text-indent: 1.2em;
}
body#il-libro div.main p.noindent {
	text-indent: 0;
}
body#il-libro div.main > p:first-child {
	text-indent: 0;
}
body#il-libro div.main > p:first-child::first-letter {
	font-size: 4.8em;
	color: #bd2716;
	float: left;
	line-height: 0.75em;
}
body#il-libro div.main > p:first-child::first-line {
	font-variant: small-caps;
}
/*** ***/
/*** «L’autore» PAGE ***/
body#l-autore div.header h1 {
	margin-left: 0;
	font-style: italic;
	font-size: 2em;
	line-height: 1.2em;
	text-align: center;
}
body#l-autore div.main {
	margin-left: 8%;
	margin-right: 8%;
}
body#l-autore div.main span.photo {
	width: 25%;
	height: auto;
	float: left;
	margin: 0 1.2em 0.2em -1.2em;
}
body#l-autore div.main span.photo img {
	width: 100%;
}
body#l-autore div.main h2 {
	text-align: left;
	font-size: 0.875em;
	font-style: normal;
	margin-bottom: 0.4em;
	page-break-after: avoid;
	clear: both;
	text-indent: 1.2em;
}
body#l-autore div.main > p + h2 {
	margin-top: 3.2em;
}
body#l-autore div.main > p {
	font-size: 0.875em;
	text-indent: 1.2em;
	text-align: justify;
}
body#l-autore div.main p.new-part {
	text-indent: 1.2em;
}
/*** ***/
/*** FRONTISPIECE ***/
body#frontispiece div.info {
	margin-top: 2.4em;
}
body#frontispiece div.info h1,
body#frontispiece p {
	text-align: center;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
body#frontispiece div.info p.author {
	font-size: 1em;
}
body#frontispiece div.info p.surtitle {
	margin-top: 2.4em;
	margin-bottom: 0.6em;
	font-size: 1em;
	line-height: 1.2em;
	font-style: italic;
}
body#frontispiece div.info h1 {
	font-size: 2em;
	line-height: 1.2em;
	margin-top: 1.2em;
}
body#frontispiece div.info p.surtitle + h1 {
	margin-top: 0;
}
body#frontispiece div.info p.subtitle {
	font-size: 1em;
	margin-top: 0.6em;
	font-style: italic;
}
body#frontispiece div.publisher {
	margin-top: 4.8em;
}
body#frontispiece div.publisher p {
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: 0.6em;
}
/** IMAGES IN THE FRONTISPIECE */
body#frontispiece div.info h1.imgh,
body#frontispiece div.info p.imgh {
	height: 4em;
}
body#frontispiece div.info h1.imgh img,
body#frontispiece div.info p.imgh img {
	height: 4em;
	max-height: 100%;
	width: auto;
	max-width: inherit;
	margin-top: .6em;
	margin-bottom: .6em;
}
body#frontispiece div.info h1.imgv,
body#frontispiece div.info p.imgv {
	height: 8em;
}
body#frontispiece div.info h1.imgv img,
body#frontispiece div.info p.imgv img {
	height: 8em;
	max-height: 100%;
	width: auto;
	max-width: inherit;
	margin-top: .6em;
	margin-bottom: .6em;
}
body#frontispiece div.info p.surtitle.imgh + h1 {
	margin-top: 1.2em;
}
body#frontispiece div.info p.surtitle.imgv + h1 {
	margin-top: 1.2em;
}
/** EINAUDI **/
body#frontispiece div.publisher p.einaudi_marchio {
	height: 4em;
}
body#frontispiece div.publisher p.einaudi_marchio img {
	height: 4em;
	max-height: 100%;
	width: auto;
}
/*** ***/
/*** DEDICATION ***/
body#dedication div.header h1,
body#dedication div.header p {
	margin-left: 0;
	text-align: center;
}
body#chapter div.dedication,
body#dedication div.dedication {
	margin-top: 2.4em;
	margin-bottom: 2.4em;
	margin-left: 12.8%;
}
body#chapter div.dedication p,
body#dedication div.dedication p {
	text-align: right;
	font-size: 0.875em;
	font-style: italic;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
/*** ***/
/*** CHAPTERS ***/
body#chapter div.main > p {
	text-align: justify;
	text-indent: 1.2em;
}
body#chapter div.main h2 {
	text-align: left;
	font-size: 1em;
	font-style: normal;
	margin-bottom: 1.2em;
	page-break-after: avoid;
	text-indent: 1.2em;
}
body#chapter div.main h3 {
	text-align: left;
	font-size: 0.875em;
	font-style: normal;
	margin-bottom: 0.4em;
	page-break-after: avoid;
	text-indent: 1.2em;
}

body#chapter div.main h4 {
	text-align: left;
	font-size: 1em;
	font-style: normal;
	margin-bottom: 0.4em;
	page-break-after: avoid;
}

div.main > p + h2,
div.main blockquote + h2,
div.main div + h2,
div.main > p + h3,
div.main blockquote + h3,
div.main div + h3 {
	margin-top: 2.4em;
}

div.main > p + h4,
div.main blockquote + h4,
div.main div + h4 {
	margin-top: 1.2em;
}




/*** ANY PAGE: JUSTIFICATION ***/
body#chapter div.main p.left,
body#notes div.main p.left,
body#notes div.main div.note p.left,
body#history div.main p.left,
body#bibliography div.main p.left,
body#glossary div.main p.left,
body#recipe div.main p.left {
	text-align: left;
}
body#chapter div.main p.right,
body#notes div.main p.right,
body#notes div.main div.note p.right,
body#history div.main p.right,
body#bibliography div.main p.right,
body#glossary div.main p.right,
body#il-libro div.main p.right,
body#l-autore div.main p.right,
body#recipe div.main p.right {
	text-align: right;
	text-indent: 0;
}
body#chapter div.main p.center,
body#notes div.main p.center,
body#notes div.main div.note p.center,
body#history div.main p.center,
body#bibliography div.main p.center,
body#glossary div.main p.center,
body#il-libro div.main p.center,
body#l-autore div.main p.center,
body#recipe div.main p.center {
	text-align: center;
	text-indent: 0;
}
/*** ANY PAGE: IMAGES RUNNING IN THE TEXT ***/
body#chapter div.main p.imgcenter,
body#notes div.main p.imgcenter,
body#history div.main p.imgcenter,
body#bibliography div.main p.imgcenter,
body#glossary div.main p.imgcenter,
body#il-libro div.main p.imgcenter,
body#recipe div.main p.imgcenter {
	text-align: center;
	text-indent: 0;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
body#chapter div.main p.imgcenter-half,
body#notes div.main p.imgcenter-half,
body#history div.main p.imgcenter-half,
body#bibliography div.main p.imgcenter-half,
body#glossary div.main p.imgcenter-half,
body#il-libro div.main p.imgcenter-half,
body#recipe div.main p.imgcenter-half {
	text-align: center;
	text-indent: 0;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	margin-right: 25%;
	margin-left: 25%;
}
body#chapter div.main p.imgfull,
body#notes div.main p.imgfull,
body#history div.main p.imgfull,
body#bibliography div.main p.imgfull,
body#glossary div.main p.imgfull,
body#recipe div.main p.imgfull {
	text-align: center;
	text-indent: 0;
	margin-top: 0;
	margin-bottom: 0;
	page-break-before: always;
	page-break-after: always;
}
body#chapter div.main p.imgfull img,
body#notes div.main p.imgfull img,
body#history div.main p.imgfull img,
body#bibliography div.main p.imgfull img,
body#glossary div.main p.imgfull img,
body#recipe div.main p.imgfull img {
	width: auto;
	max-width: inherit;
	height: 100%;
}

body#chapter div.main p.imgfull img:first-of-type,
body#notes div.main p.imgfull img:first-of-type,
body#history div.main p.imgfull img:first-of-type,
body#bibliography div.main p.imgfull img:first-of-type,
body#glossary div.main p.imgfull img:first-of-type,
body#recipe div.main p.imgfull img:first-of-type {
	width: auto;
	max-width: inherit;
	height: 100vmax;
	object-fit: contain;
}

body#chapter div.main p.caption,
body#notes div.main p.caption,
body#history div.main p.caption,
body#bibliography div.main p.caption,
body#glossary div.main p.caption,
body#recipe div.main p.caption {
	text-indent: 0;
	text-align: justify;
	font-size: 0.875em;
	margin-top: 1.2em;
}
body#chapter div.main p.caption + p.caption,
body#notes div.main p.caption + p.caption,
body#history div.main p.caption + p.caption,
body#bibliography div.main p.caption + p.caption,
body#glossary div.main p.caption + p.caption,
body#recipe div.main p.caption + p.caption {
	margin-top: 0;
}
body#chapter div.main p.caption + p,
body#notes div.main p.caption + p,
body#history div.main p.caption + p,
body#bibliography div.main p.caption + p,
body#glossary div.main p.caption + p,
body#recipe div.main p.caption + p {
	margin-top: 2.4em;
}
body#chapter div.main p.caption + p.imgcenter,
body#notes div.main p.caption + p.imgcenter,
body#history div.main p.caption + p.imgcenter,
body#bibliography div.main p.caption + p.imgcenter,
body#glossary div.main p.caption + p.imgcenter,
body#recipe div.main p.caption + p.imgcenter {
	margin-top: 1.2em;
}
/*** ANY PAGE: QUOTES ***/
div.main blockquote {
	margin-left: 6.4%;
	margin-right: 6.4%;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
div.main blockquote p {
	text-align: justify;
	font-size: 0.875em;
	text-indent: 1.2em;
}
div.main blockquote.verses p {
	text-align: left;
	text-indent: -2.4em;
	margin-left: 2.4em;
}
div.main blockquote.verses p.new-part {
	text-indent: -2.4em;
}
div.main blockquote.dialogue p {
	text-align: justify;
	text-indent: -1.2em;
	margin-left: 1.2em;
}
div.main blockquote.dialogue p.noindent {
	margin-left: 1.2em;
	text-indent: 0;
}
div.main blockquote.dialogue p.new-part {
	text-indent: -1.2em;
}
div.main blockquote.center p {
	text-align: center;
	text-indent: 0;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
div.main blockquote.center p + p {
	text-indent: 0;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
div.main blockquote.letter p + p {
	text-indent: 0;
}
div.main blockquote.news p {
	font-family: "American Typewriter", "Courier New", "Courier", monospace;
}
div.main blockquote.news p + p {
	text-indent: 0;
}
div.main blockquote.emailsms p {
	font-family: "Avenir Next", "Segoe UI", "Segoe WP", "Helvetica", "Arial", sans-serif;
	text-align: left;
	text-indent: 0;
	margin-left: 0;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
/** CHAPTER: VERSES WITHIN THE TEXT **/
body#chapter div.main div.verses {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
body#chapter div.main div.verses p {
	text-align: left;
	text-indent: -2.4em;
	margin-left: 3.6em;
}
body#chapter div.main div.verses p.new-part {
	text-indent: -2.4em;
}
/** CHAPTER: DIALOGUE WITHIN THE TEXT **/
body#chapter div.main div.dialogue {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
body#chapter div.main div.dialogue p {
	text-align: justify;
	text-indent: -1.2em;
	margin-left: 2.4em;
}
body#chapter div.main div.dialogue p.new-part {
	text-indent: -1.2em;
}
body#chapter div.main div.dialogue p.noindent {
	margin-left: 1.2em;
	text-indent: 0;
}
/** CHAPTER: BOXES WITHIN THE TEXT **/
body#chapter div.main div.box {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 2px solid #666666;
	padding: 1.5em;
	font-size: 0.875em;
}
body#chapter div.main div.box > p {
	text-align: justify;
	text-indent: 1.2em;
}
body#chapter div.main div.box p.left {
	text-align: left;
}
body#chapter div.main div.box p.center {
	text-align: center;
	text-indent: 0;
}
body#chapter div.main div.box p.right {
	text-align: right;
	text-indent: 0;
}
body#chapter div.main div.box p.noindent {
	text-indent: 0;
}
body#chapter div.main div.box h2,
body#chapter div.main div.box h3 {
	font-style: normal;
	text-transform: none;
	font-size: inherit;
	margin-top: 1.2em;
	margin-bottom: 0.6em;
}

body#chapter div.main div.box h4 {
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

/** CHAPTER: ANOTHER STYLE FOR BOXES WITHIN THE TEXT **/
body#chapter div.main div.box-2 {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 2px dashed #666666;
	padding: 1.5em;
	font-size: 0.875em;
}
body#chapter div.main div.box-2 > p {
	text-align: justify;
	text-indent: 0;
}
body#chapter div.main div.box-2 > p + p {
	text-indent: 1.2em;
}
body#chapter div.main div.box-2 p.left {
	text-align: left;
}
body#chapter div.main div.box-2 p.center {
	text-align: center;
	text-indent: 0;
}
body#chapter div.main div.box-2 p.right {
	text-align: right;
	text-indent: 0;
}
body#chapter div.main div.box-2 p.noindent {
	text-indent: 0;
}
body#chapter div.main div.box-2 h2,
body#chapter div.main div.box-2 h3 {
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

body#chapter div.main div.box-2 h4 {
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}


/** CHAPTER: BIGGER TEXT WITHIN THE TEXT **/
body#chapter div.main div.pullquote {
	margin-top:1.2em;
	margin-bottom:1.2em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.2em;
	line-height: 1.2em;
}
body#chapter div.main div.pullquote > p {
	text-align: justify;
	text-indent: 0;
}
body#chapter div.main div.pullquote > p + p {
	text-indent: 1.2em;
}

body#chapter div.main div.pullquote > p + h2, p + h3, p + h4 {
	margin-top: 1.2em;
}


body#chapter div.main div.pullquote p.left {
	text-align: left;
}
body#chapter div.main div.pullquote p.center {
	text-align: center;
	text-indent: 0;
}
body#chapter div.main div.pullquote p.right {
	text-align: right;
	text-indent: 0;
}
body#chapter div.main div.pullquote p.noindent {
	text-indent: 0;
}
body#chapter div.main div.pullquote h2,
body#chapter div.main div.pullquote h3 {
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

body#chapter div.main div.pullquote h4 {
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

body#chapter div.main blockquote + p,
body#chapter div.main div + p {
	text-indent: 1.2em;
}

/* CHAPTERS: CHAT */

body#chapter div.main div.chat {
	padding: 0.6em;
	margin: 1.2em 0;
}

body#chapter div.main p.chat_a,
body#chapter div.main p.chat_b {
	font-family: "Avenir Next", "Segoe UI", "Segoe WP", "Helvetica", "Arial", sans-serif;
	font-size: 0.875em;
	text-indent: 0;
	width: 50%;
	max-width: 50%;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	line-height: 1.2em;
	padding: 0.6em 1.2em;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	border-radius: 1.2em;
	overflow: auto;
}
body#chapter div.main div.chat p.chat_a {
	margin-left: 0;
	margin-right: auto;
	text-align: left;
	border: 1px solid #000;
	border-bottom-left-radius: 0;
}
body#chapter div.main div.chat p.chat_b {
	margin-left: auto;
	margin-right: 0;
	text-align: right;
	border: 1px solid #000;
	border-bottom-right-radius: 0;
}

body#chapter div.main div.chat br {
	clear: both;
}

body#chapter div.main div.chat img.imgcenter {
	
	margin-top: 1em;
}

body#chapter div.main div.chat img.imgcenter img {
	width: inherit;
}

/*** SONO ARRIVATO QUI ***/

/** ANY KIND OF PAGE: EXTRACT **/
/* EXTRACT VERSES */
/* EXTRACT DIALOGUE */
div.extract.dialogue p.new-part {
	text-indent: -1.2em;
}
/*** ***/
/** HEADERS OF ANY KIND OF PAGE **/
div.header {
	min-height: 6em;
	margin-top: 1.2em;
	margin-bottom: 2.4em;
}
div.header h1,
div.header p {
	margin-left: 1.2em;
	line-height: 1.2em;
	text-align: left;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
div.header p.small {
	margin-left: 1.43em;
}
div.header h1 {
	font-size: 1em;
}
/** DIVIDER PARAGRAPH **/
body#chapter div.main p.divider,
body#theatre div.main p.divider,
body#recipe div.main p.divider {
	text-align: center;
	text-indent: 0;
	margin: 1.2em 0;
	min-height: .6em;
}
body#chapter div.main p.divider-2,
body#theatre div.main p.divider-2,
body#recipe div.main p.divider-2 {
	text-align: center;
	text-indent: 0;
	margin: 1.2em 0;
	min-height: 3em;
}
div.header p.divider {
	margin: 0.6em 0;
	min-height: 1em;
	text-align: center;
}
div.header p.divider-2 {
	margin: 0.6em 0;
	min-height: 3em;
	text-align: center;
}
body#chapter div.main p.divider img,
body#recipe div.main p.divider img {
	height: .6em;
	max-height: 100%;
	width: auto;
}
body#chapter div.main p.divider-2 img,
body#recipe div.main p.divider-2 img {
	height: 3em;
	max-height: 100%;
	width: auto;
}

hr {
	width: 50%;
	margin-left: 25%;
}


div.header p.divider img {
	height: 1em;
	max-height: 100%;
	width: auto;
}
div.header p.divider-2 img {
	height: 3em;
	max-height: 100%;
	width: auto;
}

/** FOOTNOTES OF ANY KIND OF PAGE **/
/*** ***/
/*** REFERENCES TO NOTES AND FOOTNOTES ***/
sup,
sub {
	font-size: 0.6em;
	line-height: 1.2em;
	margin-left: 0.25em;
}
/*** ***/
/*** NOTES AT THE END OF THE BOOK ***/
body#notes div.main h2 {
	text-align: left;
	font-size: 0.875em;
	font-style: normal;
	margin-bottom: 1.2em;
	page-break-after: avoid;
	text-indent: 1.2em;
}
body#notes div.main p.text + h2,
body#notes div.main div.note + h2 {
	margin-top: 2.4em;
}
body#notes div.main h3 {
	text-align: left;
	font-size: 0.875em;
	font-style: normal;
	margin-bottom: 1.2em;
	margin-top: 0.8em;
	page-break-after: avoid;
	text-indent: 1.2em;
}
body#notes div.main p.text {
	text-align: justify;
	font-size: 0.875em;
	text-indent: 1.2em;
}
body#notes div.main div.note > p {
	text-align: justify;
	font-size: 0.875em;
	margin-left: 1.2em;
	text-indent: -1.2em;
}
body#notes div.main div.note > p + p {
	text-indent: 1.2em;
}
/*** ***/
/*** HISTORY ***/
body#history div.main h2 {
	text-align: left;
	font-size: 0.875em;
	margin-bottom: 0.6em;
}
body#history div.main p {
	text-align: justify;
	text-indent: 0;
	font-size: 0.875em;
	margin-left: 2.4em;
}
body#history div.main p + p {
	margin-top: 0.6em;
}
body#history div.main p.text {
	text-indent: 1.2em;
	margin: 0;
}
/*** ***/
/*** BIBLIOGRAPHY ***/
body#bibliography div.main h2 {
	text-align: left;
	font-size: 1em;
	font-style: normal;
	margin-bottom: 1.2em;
	text-indent: 1.2em;
}
body#bibliography div.main > p + h2 {
	margin-top: 2.4em;
}
body#bibliography div.main h3 {
	text-align: left;
	font-size: 1em;
	margin-bottom: 1.2em;
	text-indent: 1.2em;
}
body#bibliography div.main h2 + h3 {
	margin-top: 1.2em;
}
body#bibliography div.main > p + h3 {
	margin-top: 2.4em;
}
body#bibliography div.main > p {
	text-align: justify;
	margin-left: 1.2em;
	text-indent: -1.2em;
}
body#bibliography div.main p.text {
	text-indent: 1.2em;
	margin-left: 0;
}
/*** ***/


/*** RECIPE ***/

body#recipe div.main > p {
	text-align: justify;
	text-indent: 0;
}
body#recipe div.main > p + p {
	text-indent: 1.2em;
}
body#recipe div.main h2 {
	text-align: left;
	font-size: 1.1em;
	font-style: italic;
	margin-bottom: 0.4em;
	page-break-after: avoid;
}
body#recipe div.main h3 {
	/* WARNING: the text must be UPPERCASE */
	text-align: left;
	font-size: 0.875em;
	font-style: normal;
	margin-bottom: 0.4em;
	page-break-after: avoid;
}

body#recipe div.main h4 {
	text-align: left;
	font-size: 1em;
	font-style: normal;
	margin-bottom: 0.4em;
	page-break-after: avoid;
}

body#recipe div.main blockquote {
	border-left: 1px solid #000;
	padding-left: 0.6em;
}

body#recipe div.main div.ingredients {
	margin-top: 1.5em;
	border-top: 2px solid #666666;
	border-bottom: 2px solid #666666;
	padding: 1.5em;
	font-size: 0.875em;
}
body#recipe div.main div.ingredients > p {
	text-align: justify;
	text-indent: 0;
}
body#recipe div.main div.ingredients > p + p {
	text-indent: 1.2em;
}
body#recipe div.main div.ingredients p.left {
	text-align: left;
}
body#recipe div.main div.ingredients p.center {
	text-align: center;
	text-indent: 0;
}
body#recipe div.main div.ingredients p.right {
	text-align: right;
	text-indent: 0;
}
body#recipe div.main div.ingredients p.noindent {
	text-indent: 0;
}
body#recipe div.main div.ingredients h2,
body#recipe div.main div.ingredients h3 {
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

body#recipe div.main div.ingredients h4 {
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

body#recipe div.main div.tip {
	width: 70%;
	margin-left: calc(15% - 1.5em);
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 2px dashed #666666;
	padding: 1.5em;
	font-size: 0.875em;
}

body#recipe div.main div.tip > p {
	text-align: justify;
	text-indent: 0;
}
body#recipe div.main div.tip > p + p {
	text-indent: 1.2em;
}
body#recipe div.main div.tip p.left {
	text-align: left;
}
body#recipe div.main div.tip p.center {
	text-align: center;
	text-indent: 0;
}
body#recipe div.main div.tip p.right {
	text-align: right;
	text-indent: 0;
}
body#recipe div.main div.tip p.noindent {
	text-indent: 0;
}
body#recipe div.main div.tip h2,
body#recipe div.main div.tip h3 {
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

body#recipe div.main div.tip h4 {
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}


body#recipe div.main div > p + h2, p + h3, p + h4 {
	margin-top: 1.2em;
}

/*** ***/

/*** GLOSSARY ***/
body#glossary div.main h2 {
	text-align: left;
	font-size: 0.875em;
	font-style: normal;
	margin-bottom: 1.2em;
	page-break-after: avoid;
	text-indent: 1.2em;
}
body#glossary div.main > p + h2 {
	margin-top: 2.4em;
}
body#glossary div.main > p {
	text-align: justify;
	margin-top: 0.6em;
	margin-left: 1.2em;
	text-indent: -1.2em;
	font-size: 0.875em;
}
body#glossary div.main span.entry {
	font-weight: bold;
	margin-right: 0.6em;
}
body#glossary div.main p.text {
	text-indent: 1.2em;
	margin: 0;
}
body#glossary div.main p.new-part {
	margin-top: 2em;
}
/*** ***/



/*** BACKLIST ***/
body#backlist div.header h1 {
	margin-left: 0;
	font-style: italic;
	font-size: 2em;
	line-height: 1.2em;
	text-align: center;
}
body#backlist div.main {
	margin-left: 8%;
	margin-right: 8%;
	font-size: 0.875em;
}
body#backlist div.main h2 {
	font-size: 1em;
	line-height: 1.2em;
	text-align: center;
}
body#backlist div.main ul,
body#backlist div.main li {
	margin: 0;
	padding: 0;
}
body#backlist div.main ul li {
	list-style: none;
	text-align: center;
	font-size: 1em;
	line-height: 1.2em;
}
body#backlist div.main ul + h2,
body#backlist div.main ul + ul {
	margin-top: 1.2em;
}
body#backlist div.main ul li {
	font-style: italic;
}
/*** ***/
/*** COPYRIGHT PAGE ***/
body#copyright div.disclaimer,
body#copyright div.links {
	margin-left: 13.3%;
	margin-right: 13.3%;
	margin-bottom: 1.2em;
}
body#copyright div.disclaimer p,
body#copyright div.links p {
	text-align: justify;
	font-size: 0.6em;
	line-height: 1.2em;
}
body#copyright div.info p + p,
body#copyright div.disclaimer p + p,
body#copyright div.links p + p {
	margin-top: 0.6em;
}
body#copyright div.links p {
	text-align: center;
}
body#copyright div.info {
	margin-left: 13.3%;
	margin-right: 13.3%;
	margin-bottom: 1.2em;
}
body#copyright div.info p {
	text-align: center;
	font-size: 0.6em;
	line-height: 1.2em;
}
/* IMAGES IN COPYRIGHT PAGE */
/*** ***/
/*** DIVIDER PAGE ***/
body#divider div.header {
	margin-top: 7.2em;
	height: auto;
}
body#divider div.header h1,
body#divider div.header p {
	margin-left: 0;
	text-align: center;
}
/*** ***/
/*** PHOTOGRAPHIC INSERT ***/
body#insert div.main > p {
	text-align: center;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
body#insert div.main > p img {
	max-width: 100%;
	height: auto;
	width: auto;
}
body#insert div.main p.caption {
	text-align: justify;
	font-size: 0.875em;
	margin-top: 0.6em;
	margin-bottom: 0;
}
body#insert div.main p.caption + p.caption {
	margin-top: 0;
}
/*** ***/
/*** INDEX ***/
body#index div.main {
	text-align: left;
	font-size: 0.875em;
	line-height: 1.2em;
}
body#index div.main li {
	list-style: none;
	text-align: left;
	text-indent: -1.2em;
}
body#index div.main > p {
	text-indent: 1.2em;
	margin-left: 0;
	font-size: 1em;
	text-align: justify;
}
/***** THEATRICAL TEXTS *****/
/*** CHARACTERS ***/
body#characters div.header h1 {
	text-align: left;
}
body#characters div.main h2 {
	text-align: left;
	font-style: normal;
	font-size: 1em;
	line-height: 1.2em;
	margin-top: 2.4em;
	margin-bottom: 1.2em;
	text-indent: 1.2em;
}
body#characters div.main > p {
	text-align: left;
	margin-left: 1.2em;
	text-indent: -1.2em;
	/*font-style: italic;*/
}
body#characters div.main p.direction {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
body#characters div.main span.character {
	font-style: italic;
}
/*** THEATRE ***/
body#theatre div.main h2 {
	font-size: 1em;
	text-indent: 0em;
	line-height: 1.2em;
	text-align: center;
}
body#theatre div.main h2.left {
	/*text-indent: 1.2em;*/
	margin-left: 1.2em;
	text-align: left;
}
body#theatre div.main h2 span.scene {
	font-size: 0.75em;
}
/* Generic paragraph */
body#theatre div.main > p {
	text-align: justify;
	margin-left: 1.2em;
	text-indent: 0em;
}
body#theatre div.main > p + h2 {
	margin-top: 1.2em;
}
body#theatre div.main > p span.character {
	/*font-size: 0.75em;*/
	margin-left: -1.2em;
	margin-right: 1.2em;
}
body#theatre div.main p.text {
	text-indent: 1.2em;
	margin-left: 0;
	font-style: italic;
}
body#theatre div.main p.text em {
	font-style: normal;
}
body#theatre div.main p.direction-inline {
	text-align: right;
	font-style: italic;
	margin-left: 1.2em;
}
body#theatre div.main p.direction span.character,
body#theatre div.main p.direction-inline span.character {
	font-style: normal;
	font-size: 0.75em;
	margin: 0;
}
body#theatre div.main p.new-part {
	text-indent: 0;
}
body#theatre div.main p.verse {
	text-align: left;
	text-indent: -2.4em;
	margin-left: 3.6em;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
body#theatre div.main p.song1 {
	margin-left: 6.0em;
	text-indent: -2.4em;
	text-align: left;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
body#theatre div.main p.song2 {
	margin-left: 7.2em;
	text-indent: -2.4em;
	text-align: left;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
body#theatre div.main p.direction {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	/*font-style: italic;*/
	text-indent: 0;
	margin-left: 0;
	text-align: center;
}
body#theatre div.main h2 + p.direction,
body#theatre div.main p.direction + p.direction {
	margin-top: 0;
}
body#theatre div.main p.direction.left {
	margin-left: 1.2em;
	text-align: left;
}
body#theatre div.main h2 + p.direction.left {
	margin-top: 1.2em;
}
body#theatre div.main h2 + p {
	margin-top: 1.2em;
}
/*** ***/

/*** AUDIO ***/

audio {
	width: 70%;
	margin-left: 15%;
	text-align: center;
	margin-top: 1.2em;
	margin-bottom:  1.2em;
}

audio > p {
	text-align: justify;
	text-indent: 0;
	margin-left: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

body#chapter div.main div.audio-box audio {
	width: 90%;
	margin-left: 5%;
	text-align: center;
	
}

body#chapter div.main div.audio-box {
	width: 70%;
	margin-left: calc(15% - 1.5em);
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	border: 2px solid #000;
	border-radius: 1.2em;
	padding: 1.5em;
	font-size: 0.875em;
}

body#chapter div.main div.audio-box > p {
	text-align: justify;
	text-indent: 0;
}
body#chapter div.main div.audio-box > p + p {
	text-indent: 1.2em;
}

body#chapter div.main div.audio-box > audio p + p {
	text-indent: 0;
	margin-top: 1em;
}

body#chapter div.main div.audio-box p.left {
	text-align: left;
}
body#chapter div.main div.audio-box p.center {
	text-align: center;
	text-indent: 0;
}
body#chapter div.main div.audio-box p.right {
	text-align: right;
	text-indent: 0;
}
body#chapter div.main div.audio-box p.noindent {
	text-indent: 0;
}
body#chapter div.main div.audio-box h2,
body#chapter div.main div.audio-box h3 {
	font-weight: bold;
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

body#chapter div.main div.audio-box h4 {
	font-style: normal;
	text-align: center;
	text-transform: none;
	font-size: inherit;
}

/*** ***/

/*** VIDEO ***/

/* verticale */

body#chapter div.main div.video-v {
	text-align: center;
	text-indent: 0;
	margin-top: 0;
	margin-bottom: 0;
	page-break-before: always;
	page-break-after: always;
	break-before: always;
	break-after: always;
	page-break-inside: avoid;
}

body#chapter div.main div.video-v video {
	width: auto;
	height: auto;
	max-width: inherit;
	page-break-before: always;
	page-break-after: always;
	break-before: always;
	break-after: always;
	page-break-inside: avoid;
}

body#chapter div.main p + div.video-v,
body#chapter div.main div.video-v + p {
	margin-top: 1.2em;
}

/* orizzontale */

body#chapter div.main div.video-h {
	text-align: center;
	text-indent: 0;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	page-break-inside: avoid;
}


body#chapter div.main div.video-h video {
	width: 100%;
	height: auto;
	max-width: inherit;
	page-break-inside: avoid;
}

video > p {
	text-align: justify;
	text-indent: 0;
	margin-left: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*** CHARACTER STYLES ***/
span.all-small-caps {
	/* WARNING: the text must be UPPERCASE */
	font-size: 0.75em;
	letter-spacing: 0.05em;
}
span.upright {
	font-style: normal;
}
/*** ***/
/*** GENERAL CLASSES ***/
body#chapter div.main p.indent,
body#notes div.main p.indent,
body#history div.main p.indent,
body#bibliography div.main p.indent,
body#glossary div.main p.indent {
	text-indent: 1.2em;
}
body#chapter div.main p.noindent,
body#notes div.main p.noindent,
body#history div.main p.noindent,
body#bibliography div.main p.noindent,
body#glossary div.main p.noindent {
	text-indent: 0;
}
p.new-part {
	margin-top: 1.2em;
}
/*** ***/
/*** LISTS ***/
body#il-libro div.main > ul,
body#il-libro div.main > ol,
body#l-autore div.main > ul,
body#l-autore div.main > ol,
div.main blockquote > ul,
div.main blockquote > ol,
body#notes div.main div.note > ul,
body#notes div.main div.note > ol {
	font-size: 0.875em;
}
div.main > ul.nostyle {
	padding-left: 0;
	list-style-type: none;
	margin-left: 1.2em;
}
div.main ul + h2,
div.main ol + h2 {
	margin-top: 2em;
}
body#chapter div.main ul + p,
body#chapter div.main ol + p,
body#recipe div.main ul + p,
body#recipe div.main ol + p,
body#notes div.main ul + p,
body#notes div.main ol + p,
body#history div.main ul + p,
body#history div.main ol + p,
body#bibliography div.main ul + p,
body#bibliography div.main ol + p,
body#glossary div.main ul + p,
body#glossary div.main ol + p {
	text-indent: 1.2em;
}
/** TABLES **/
table {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	border-collapse: collapse;
}
body#chapter div.main table + p {
	text-indent: 1.2em;
}
body#chapter div.main table + h2 {
	margin-top: 2.4em;
}
body#chapter div.main table + h3 {
	margin-top: 2.4em;
}

body#chapter div.main table + h4 {
	margin-top: 2.0em;
}
