@charset "UTF-8";
/*
File: s0_style.css, s1_template.css, s2_extra.css
Descrizione: Regole CSS per gli ebook Einaudi
Copyright © 2011–2019 Mondadori Libri S.p.A., Milano. Tutti i diritti riservati. All rights reserved.
Versione 2.6 - 2019
*/