@charset "UTF-8";
/*
File: s0_style.css, s1_template.css, s2_extra.css
Descrizione: Regole CSS per gli ebook Einaudi
Copyright © 2011–2019 Mondadori Libri S.p.A., Milano. Tutti i diritti riservati. All rights reserved.
Versione 2.6 - 2019
*/

/*** CSS FOR KINDLE AND KINDLE FIRE ***/

/*** TIP BOX IN RECIPE + AUDIO-BOX (margin problem) ***/
body#recipe div.main div.tip,
body#chapter div.main div.audio-box {
	width: auto;
	margint-left: 0;
	margint-right: 0;
}


/*** IMAGES (width + margin problem) ***/

img,
body#insert div.main > p img {
	width: 100%;
	height: auto;
}


/*** IMGCENTER-ORNAMENT (margin problem) ***/

/*** SPAN IMGINLINE ***/

